
.body{
    background-color:white;
    font-family: 'Gowun Dodum', sans-serif;
}
.fontg{
    font-family: 'Gowun Dodum', sans-serif;
}

.home {
    text-align: center;
    font-size: 2em;
    background-color: #f7f7f7;
    line-height: 50px;
}

 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: black;
 }

p{
    color: darkgray;
    margin-left: 10px;
    font-size:1.5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  margin-left : 5px;
  max-width:32%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .backb i{
    font-size: 3em;
  }
    body{
        font-size:0.5em;
    }
    .column img{
        max-width: 48%;
    }
}
